language: php

sudo: false

env:
  global:
    - COMPOSER_NO_INTERACTION="1"
  matrix:
    - MYSQL_ROOT_PASSWORD=root MYSQL_DATABASE=test MYSQL_USER=travis MYSQL_PASSWORD=test MYSQL_HOST=127.0.0.1

php:
  - '7.0'
  - '7.1'
  - '7.2'

services:
  - mysql

install:
  - composer install

before_script:
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('$MYSQL_PASSWORD') WHERE user='$MYSQL_USER';\nFLUSH PRIVILEGES;\nCREATE DATABASE IF NOT EXISTS '$MYSQL_DATABASE';\n" | mysql -u root
