<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="All tests suites">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="tests/"/>
    </php>
</phpunit>
